* {
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

/* NAVBAR */
.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo {
    background-image: url("images/amazon-logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}

.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
}

/* SEARCH */
.nav-search {
    display: flex;
    width: 600px;
    height: 40px;
    border-radius: 4px;
    background-color: pink;
}

.search-select {
    width: 50px;
    border: none;
}

.search-input {
    width: 100%;
    border: none;
    font-size: 1rem;
}

.search-icon {
    width: 45px;
    background-color: #febd68;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* PANEL */
.panel {
    height: 40px;
    background-color: #222f3d;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* HERO */
.hero-section {
    background-image: url("images/hero_amazon.jpg");
    height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-message {
    background-color: white;
    padding: 10px;
    width: 80%;
    margin-bottom: 25px;
    font-size: 0.85rem;
}

/* SHOP */
.shop-section {
    background-color: #e2e7e6;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.box {
    background-color: white;
    width: 23%;
    padding: 15px;
}

.box-content img {
    width: 48%;
    margin: 1%;
}

.box p {
    color: #007185;
}

/* FOOTER */
footer {
    margin-top: 20px;
}

.foot-panel1 {
    background-color: #37475a;
    color: white;
    text-align: center;
    padding: 15px;
}

.foot-panel2 {
    background-color: #222f3d;
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
}

.foot-panel3 {
    background-color: #222f3d;
    border-top: 1px solid white;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.foot-panel4 {
    background-color: #0f1111;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 0.75rem;
}
